@import '../../variables.scss';

.solutions {
    &__header {
        @include header;
    }
    &__links {
        text-align: center;
        margin: 50px 0;
        &__item {
            display: inline-block;
            padding: 10px;
            font-size: 22px;
            &.active {
                font-weight: bold;
                border-bottom: 2px solid $main-blue;
                font-size: 23px;
            }
        }
    }
}