@import '../../variables.scss';

.footer {
    background-color: black;
    clear: both;

    .social-icons {
      float: right;

      .nav-link {
        margin: 0 8px;
        i {
          font-size: 30px;
          color: white;
          &:hover {
            color: $main-blue;
          }
          &:focus {
            color: darken($main-blue, 20%);
          }
        }
      }
    }
}

// sticky footer
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }